
---
import { allMaisons } from '../../backend.mjs';
import card from '../../components/card.astro';
import Base from '../../layouts/Base.astro';

const offres = await allMaisons();




---

<Base>
<h1>Offres</h1>
</Base>
<div>
    {offres?.map((maison, index) => (
        <ul>
          <li>{maison.nomMaison}</li>
        </ul>
      ))}
       
       <div x-data="{ showFavorites: false }">
        <button @click="showFavorites = !showFavorites">
          <span x-show="!showFavorites">Afficher les favoris</span>
          <span x-show="showFavorites">Afficher tout</span>
        </button>
      
        <div x-show="!showFavorites">
          {offres.map((offre) => <card {...offre} />)}
        </div>
      
        <div x-show="showFavorites">
          {offres.filter((offre) => offre.favori).map((offre) => <card {...offre} />)}
        </div
      /div>

      
     

